@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav img {
    margin-bottom: 26px;
    text-align: center
  }

  header nav ul li {
    padding-left: 16px;
    padding-bottom: 6px;
    /* font-size: 18px; */
  }

  .header-title h1 {
    text-align: center;
    font-size: 36px;
  }

  header {
    height: 580px;
  }

  /* About us ------------------------- */

  .team-description-wrapper,
  .about-us {
    width: 100%;
  }

  .about-us p:nth-child(3) {
    width: 80%;
  }

  

  /* TEAM --------------------------- */
  

  
  .team-description ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px;
    gap: 30px;
  }
  
  .team-description ul li img {
    width: 210px;
    height: 210px;
  }


  /* Choose us ------------------------ */
  
  .choose-us ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .choose-us li img {
    width: 7rem;
    height: 7rem;
  }

  .choose-us li p {
   padding-right: 50px;
   padding-left: 50px;
  }

  /* Blog News ------------------------- */


  .blog-news {  
    background: rgb(231, 242, 245);  
    padding: 2.5rem 0;
    text-align: center;
  }
  
  .blog-news ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  
  .blog-news ul .item {
    list-style: none outside;
    display: flex;
   
    text-align: center;
    flex: 0 0 35%;
    box-shadow: 0 0.3rem 1rem 0.3rem rgba(0,0,0,0.3); 
  }
  
  .blog-news .content{
    width: 15rem;
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
  }
  
  .blog-news .content h4{
    padding-bottom: 1rem;
  }
  
  .blog-news ul .item .avatar {
    width: 18rem;
    overflow: hidden;
    position: relative; 
    margin: 0 auto;  
    margin: 0;
  }
  
  .blog-news ul .item .avatar:before {
    display: block;
    content: '';
    padding-top: 100%;
  }
  
  .blog-news ul .item .avatar img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

}
