body {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

ul.list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

li.item {
    display: flex;
    width: 400px;
    height: 600px;
    background-size: contain;
    background-position: center center;
    border: 10px solid black;
    background-color: white;
    padding: 0 15px;

}

li.item img {
    object-fit: contain;
}

