body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

/* oDecorate the text with underline
oPaddings: 20px
oTop & bottom margin 10px
oLeft & right margin 5px
oSpace between letters: 3px
oBackground color: #3B516B
oRadius of the border: 10px
oText color: floralwhite */

h2{
    text-decoration: underline;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 3px;
    background-color: #3B516B;
    border-radius: 10px;
    color: floralwhite;
}

li {
    margin-left: 20px;
}


